li , h3 ,ul{
    margin:0;
    padding:0;
}

h3{
    padding:1em;
}
#tablist li.tab
{
    border-bottom:1px solid #CCC;
}
#tablist li.tab:hover{
    background-color:#FFF9F0;
}
#tablist li.tab.selected:hover{

    background-color:#FDD;
}

#tablist ul{
    list-style-type:none;
}

#tablist li.tab a{
    display:block;
    text-decoration:none;
    color:black;
    padding:1em 0;
    white-space:nowrap;
}

#tablist h3 {
    background:#CCC;
}
li.selected{
    background-color:#FEE;
}
